---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "ƒdisk.space",
    "subtitle": "Loosely organized digital garden",
    "url": "https://fdisk.space",
    "feedUrl": "https://fdisk.space/rss.xml",
    "author": {
      "name": "Fred Bednarski",
      "email": "fred.bednarski@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.all | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for entry in collections.all %}
  {% set absolutePostUrl %}{{ entry.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{% if entry.data.altTitle %}{{ altTitle }}
		  {% else %}The {{ entry.data.page.url | urlToTitle | splitWords | capitalize }}.
		  {% endif %}</title>
    <subtitle>{{ entry.data.description }}</subtitle>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ entry.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ entry.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>