{% set created = page.inputPath | stat("birthtime") | nchrsDate %}
{% set updated = page.inputPath | stat("mtime") | nchrsDate%}
{% set highlight_col = ['var(--magenta)', 'var(--cyan)', 'var(--yellow)'] | random %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>&#402;disk{{ page.url }}</title>
	<meta name="description" content="">
	<meta name="author" content="Fred Bednarski">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ "/" | url }}assets/styles.css">
	<link rel="icon" type="image/png" href="{{ "/" | url }}assets/icons/favicon.png"/>
	<style>
		::-moz-selection { /* Code for Firefox */
		  background: {{ highlight_col }};
		}

		::selection {
		  background: {{ highlight_col }};
		}
		
	</style>
</head>


<body>
	<header style="display:flex;">
     <a href="/" class="shadow logo"><img src="{{ "/" | url }}assets/icons/fb_logo.svg" width="40px" style="max-height:40px;" /></a>
      <div style="max-height:40px; display:flex; flex:1;  align-items:flex-end; background:var(--fg); color:var(--bg);" class="shadow">
		<nav style="margin:3px;">
			{% set path = collections.all | naviBreadcrumb(navi.key) %}
			<ul><li>//</li>{% set skip = 0 %}{%- for dir in path %}{% set kolor = [1, 2, 3 ] | removeVal(skip) | random %}<li class="bloop-base bloop{{ kolor }}"><a href="{{ dir.url }}">{{ dir.key }}</a>/</li>{% set skip = kolor %}{%- endfor %}<li>{{navi.key}}</li>:<span class="blink_me">_</span></ul>
		</nav>
      </div>
    </header>

	 <main class="shadow shadowPlus4">
	 	{% if navi.cover %}<section><img src="{{ navi.cover }}" /></section>{% endif %}
	
	<article>
		
		{% if hideTitle %}
		{% else %}
		  {% if navi.description and not navi.hideExcerpt %}{% set excerpt = ("<span>" + navi.description + "</span>") | safe %}
		  {% else %}{% set excerpt = "" %}
		  {% endif %}
		  {% if altTitle %}<h1>{{ altTitle }}{{ excerpt }}</h1>
		  {% else %}<h1>{{ page.url | urlToTitle | splitWords | capitalize }}{{ excerpt }}</h1>
		  {% endif %}
		{% endif %}
		
		{{ content | safe }}
		</article>
		
		<hr style="border: 1px dotted; border-style: none none dotted; margin-bottom: 0px;" />
		
		<div style="margin-bottom:1px; margin-top: -2px; margin-left:10px;"><span style="font: 10px sans-serif;">
		>> created on {{ created }}
		{% if created!=updated %}, last update on {{ updated }}{% endif %}
		</span><a href="#"><img class = "back-to-top" src="{{ "/" | url }}assets/icons/arrow_up.svg" /></a></div>
	</main>

	<footer>
		
		<section>
			<div style="float: left; margin-top: -3px; ">
			Made with <span title="...and a lot of trial and error">&#9825</span> by Fred Bednarski &copy; {{ page.date.getFullYear() }}
			</div>
			
			<div style="float: right; margin-top: 0px;">
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0"><img  src="{{ "/" | url }}assets/icons/cc.svg" /></a>
			<a href="http://webring.xxiivv.com/"><img  src="{{ "/" | url }}assets/icons/rotonde.svg" /></a>
			<a rel="me" href=https://merveilles.town/@FredBednarski><img src="{{ "/" | url }}assets/icons/merveilles.svg" /></a>
			</div>
		</section>
	</footer>	

</body>
</html>