---
layout: layouts/base.njk
---

{{ content | safe }}
{% if navi.reverse %}
  {% set listing = collections.all | navi(navi.key) | reverse %}
{% else %}
  {% set listing = collections.all | navi(navi.key) %}
{% endif %}

{%- for item in listing  %}
{% set x =  [1, 2, 3 ] | random %}
{% set y =  [1, 2, 3 ] | removeVal(x) | random %}

{% if item.altTitle %}
	<h2><a class="wave wave{{x}} text{{y}}" href="{{ item.url }}" >{{ item.altTitle }}</a></h2>
{% else %}
	<h2><a class="wave wave{{x}} text{{y}}" href="{{ item.url }}">{{ item.title | splitWords | capitalize }}</a></h2>
{% endif %}

  {% if item.cover and not hideCovers %}
  <figure>
    <a href="{{ item.url }}"><img src="{{ item.cover }}" /></a>
    <figcaption><em>{{ item.excerpt}}</em></figcaption>
  </figure>
   {% else %}
    <em>{{ item.excerpt }}</em>
   {% endif %}

{%- endfor%}