---
layout: layouts/base.njk
---

{% set created = page.inputPath | stat("birthtime") | nchrsDate %}
{% set updated = page.inputPath | stat("mtime") | nchrsDate%}

<main class="shadow shadowPlus4">
	{% if navi.cover %}<section><img src="{{ navi.cover }}" /></section>{% endif %}
	<div style="margin-bottom:1px; margin: -3px 0 2px 10px;"><span style="font-size: 12px;">
	~ contents of {{ page.url | urlToTitle | splitWords }}:</div>
	<hr/>
	
	<article>
		
		{% if not hideTitle %}
		  {% if altTitle %}<h1>{{ altTitle }}</h1>
		  {% else %}<h1>{{ page.url | urlToTitle | splitWords | capitalize }}</h1>
		  {% endif %}
		{% endif %}
		
		{{ content | safe }}

	</article>
	
	
	
	{# Navigation starts here #}	
		{% if navi.reverse %}
		{% set listing = collections.all | navi(navi.key) | reverse %}
		{% else %}

		{% set listing = collections.all | navi(navi.key) %}
		{% endif %}
		
	<nav><ul>
		<hr/>
		{% set kolor =  [1, 2, 3 ] | removeVal(kolor) | random %}
		
		{% if navi.parent == "ƒdisk"  %}
			{% set link = "" %}
		{% else %}
			{% set link = navi.parent %}
		{% endif %}
				
		{% if navi.key != "ƒdisk" %}
			<a href="/{{ link }}" ><li class="bg{{kolor}}"><img src="{{ "/" | url }}assets/icons/ico_back.png" />&nbsp;.. /</li></a>	
		{% endif %}
				
		{% if listing.length %}
			{%- for item in listing  %}
				
				
				{%if item.excerpt %}
					{% set excerpt = " — " + item.excerpt %}
				{% endif %}

				{% if item.altTitle %}
					{% set title = item.altTitle %}
				{% else %}
					{% set title = item.title | splitWords | capitalize %}
				{% endif %}
				
				<a href="{{ item.url }}" ><li class="bg{{kolor}}">		
				<img src="{{ "/" | url }}assets/icons/ico_folder.png" />&nbsp;{{ title }}&nbsp;<span>{{ excerpt }}</span>
				<time>{{ item.page.date | nchrsDate}}</time></li></a>
						
			{%- endfor%}
		{% endif %}
		</ul></nav>
		{# Navigation ends here here #}
	
	<hr/>
	<div style="margin-bottom:1px; margin-top: -2px; margin-left:10px;"><span style="font-size: 12px;">
	>> page created on {{ created }}{% if created!=updated %} &Delta; {{ updated }}{% endif %}
	</span><a href="#"><img class = "back-to-top icon" src="{{ "/" | url }}assets/icons/arrow_up.svg" /></a></div>
</main>



			


