---
layout: layouts/base.njk
---

{% set created = page.inputPath | stat("birthtime") | nchrsDate %}
{% set updated = page.inputPath | stat("mtime") | nchrsDate%}


<main class="shadow shadowPlus4">
	{% if navi.cover %}<section><img src="{{ navi.cover }}" /></section>{% endif %}

	<article>
		
		{% if hideTitle %}
		{% else %}
		  {% if navi.excerpt %}{% set excerpt = ("<span>" + navi.excerpt + "</span>") | safe %}
		  {% else %}{% set excerpt = "" %}
		  {% endif %}
		  {% if altTitle %}<h1>{{ altTitle }}{{ excerpt }}</h1>
		  {% else %}<h1>{{ page.url | urlToTitle | splitWords | capitalize }}{{ excerpt }}</h1>
		  {% endif %}
		{% endif %}
		
		{{ content | safe }}
		
	</article>
	
	<hr style="border: 1px dotted; border-style: none none dotted; margin-bottom: 0px;" />
	
	<div style="margin-bottom:1px; margin-top: -2px; margin-left:10px;"><span style="font-size: 12px;">
	>> created on {{ created }}{% if created!=updated %}, last update on {{ updated }}{% endif %}
	</span><a href="#"><img class = "back-to-top icon" src="{{ "/" | url }}assets/icons/arrow_up.svg" /></a></div>
</main>

<nav>
	{% if navi.reverse %}
	  {% set listing = collections.all | navi(navi.key) | reverse %}
	{% else %}
	  {% set listing = collections.all | navi(navi.key) %}
	{% endif %}

	{%- for item in listing  %}
	{% set kolor =  [1, 2, 3 ] | removeVal(kolor) | random %}

	{% if item.altTitle %}
		<h2><a href="{{ item.url }}" class="bloop-base bloop{{kolor}}">{ item.altTitle }}</a><span>{{ item.excerpt }}</span></h2>
	{% else %}
		<h2><a href="{{ item.url }}" class="bloop-base bloop{{kolor}}">{{ item.title | splitWords | capitalize }}</a><span>{{ item.excerpt }}</span></h2>
	{% endif %}

	  {% if item.cover and not hideCovers %}
	  <figure>
		<a href="{{ item.url }}"><img src="{{ item.cover }}" /></a>
		<figcaption><em>{{ item.excerpt}}</em></figcaption>
	  </figure>
	   {% endif %}

	{%- endfor%}
</nav>