:root{
--bg:#f1f1f1;
--fg:#141414;
--bg_acc:#e0e0e0;
--magenta:DeepPink;
--cyan:#389DF2;
--yellow:#FDD000;
--bg_shadow:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC);
--font_sans:"Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
--font_mono:Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
}
header{margin:0 auto;display:flex;}
body{font-family: var(--font_sans);max-width: 808px;padding: 0 15px;margin: 8px auto;line-height: 1.6;color:var(--fg);background-color:var(--bg);}		
h1,h2,h3 {letter-spacing: -0.02em;line-height: 1.2; margin-bottom:0;} 
h1 {font-size: clamp(1.5em, 7vw, 3em); margin-bottom:.8em;}
h1 span{ font-size: 1rem; font-style:italic;font-weight: normal; display:block; letter-spacing:0;}

a{color:var(--fg);text-decoration:none;font-style:normal;font-weight: 600;}

article b, article strong {font-weight: 600;}

main{border:2px solid var(--fg);margin:16px auto;background-color:var(--bg);}
main img{padding: 0}

header div {max-height:40px; display:flex; flex:1;  align-items:flex-end; background:var(--fg); color:var(--bg);}
header nav a{color: var(--bg);font-weight: 400;}
header nav {padding: 2 0;margin-bottom:3px;padding-left:8px;font:16px var(--font_mono);} 

article,main nav{padding:1em 7.37%;}
article a{font-weight: 500;}
article a[href*='/']::before{content:"{"}
article a[href*='/']::after{content:"}"}
article a[href*='//']::before{content:"["}
article a[href*='//']::after{content:"]"}
article a:hover{background-color:var(--fg);color:var(--bg);}

main nav{padding-top:0;}
main nav ul{list-style-type:none;margin:0;padding:0;font-size:16px;font-weight:bold;width:100%;white-space:nowrap;}
main nav span{font-weight:400;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-top:2px;}
main nav time{margin-left:auto;font-weight:400;font-size:14px;display:block;}


main nav li{display:flex;padding:2px 8px;} 

hr{border-style:none none dotted;margin:0px;}

code, pre{overflow:auto;background:var(--bg_acc);padding:10px}
code{padding:2px}
blockquote{font-style:italic;line-height:1.2;padding-left:1em;border-left:4px solid var(--fg);}
		
figure{margin:0;}
figcaption{margin-bottom:40px;}
img{max-width: 100%;}
	
footer{font-size: 14px;margin:2em -15px;border-top:1px dotted var(--fg);padding:5px 15px;}
footer section img{width: 30px;}

.logo{height:40px;margin-right:10px;background-color:var(--bg);}

.shadow{position: relative; }	
.shadow:after{background:var(--bg_shadow); background-position:right bottom;background-repeat:repeat;height:100%;width:100%;content:"";position:absolute;left:7px;top:8px;z-index:-1;}
.shadowPlus4:after{height: calc(100% + 3.1px);width:calc(100% + 3.1px);}
	
.blink_me{animation: blinker 1.2s linear infinite;}
@keyframes blinker{50% {opacity: 0;}}


.text1:hover{color: var(--yellow); font-weight:600;}
.text2:hover{color: var(--cyan); font-weight:600;}	
.text3:hover{color: var(--magenta); font-weight:600;}
.bg1:hover{background-color:var(--yellow);}
.bg2:hover{background-color:var(--cyan);}
.bg3:hover{background-color:var(--magenta);}

a[href].direct-link {color: transparent;}
a[href].direct-link:focus,:hover > a[href].direct-link,:hover > a[href].direct-link:visited {color: var(--fg); background-color: transparent;}

.cover{width:100%; padding:0;margin-bottom:-3em;background-color:var(--bg);}

ul{margin:4px 0px;}
.nav-arrow{ width: 20px; font-size:16px; float: right;}

details{background-color:var(--bg_acc);padding: 12px;}

.footnotes-list{padding-left: 0px;font-size:13px;}

@media (min-width: 600px) {
article p {text-align: justify; text-justify: inter-word;}
}